<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 id="WebApp_ID"
		 version="2.5"> 
		 
	<!-- #ContextLoaderListner로 생성가능 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!--  파일의 위치를 작성 -->
		<param-value>/WEB-INF/spring/context-root.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- # DispatcherServlet로 생성가능 -->
	<servlet>
		<!--  DispatcherServlet의 이름 생성 -->
		<servlet-name>app3</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/context-web.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<!-- DispatcherServlet 이름을 넣기 -->
		<servlet-name>app3</servlet-name>
		<!-- / 기준으로 나누기 때문에 / 입력 -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
		 
	 <!-- 한글 인코딩을 위한 필터 설정하기 -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 모든 JSP에서 공통으로 사용되는 태그라이브러리설정을 모든 JSP 페이지의 맨 앞부분에 include하기 -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/views/common/tags.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
	
</web-app>